In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
#Create the initial data frame
pf=pd.DataFrame(purchase_data)
players=len(pf['SN'].unique())
player_data=(pf['SN'].unique())

print(f'The total number of players are {players}')

#player_data

The total number of players are 576

In [6]:
#Show first rows 5 for headers
pf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
pa_total=[]
pac_columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']
unique_items=len(pf['Item ID'].unique())
pa_total.append(unique_items)
avg_purchase_price=round(pf['Price'].mean(),2)
pa_total.append(avg_purchase_price)
total_purchases=pf['SN'].count()
pa_total.append(total_purchases)
total_revenue=round(pf['Price'].sum(),2)
pa_total.append(total_revenue)

#Create new summary dataframe
pa_total_df=pd.DataFrame([pa_total],columns=[pac_columns])

print(f'There are {unique_items} items available in the game for purchase')
print(f'The average purchase price is ${avg_purchase_price}')
print(f'There were {total_purchases} total purchases')
print(f'The total revenue was ${total_revenue}')
pa_total_df

[179, 3.05, 780, 2379.77]
There are 179 items available in the game for purchase
The average purchase price is $3.05
There were 780 total purchases
The total revenue was $2379.77

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179          3.05                 780       2379.77

In [32]:
sum={'Unique Items':[unique_items],
                     'Average Purchase Price':[avg_purchase_price],
                     'Total Purchases':[total_purchases],'Total Revenue':[total_revenue]}
sum_pf=pd.DataFrame(sum)
sum_pf

   Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0           179                    3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
players_df=pf.loc[:,['SN','Gender']]
unique_players_df=players_df.drop_duplicates()
unique_players=len(unique_players_df)
gtypes=players_df['Gender'].unique()
males=len(unique_players_df.loc[unique_players_df['Gender']=='Male',:])
females=len(unique_players_df.loc[unique_players_df['Gender']=='Female',:])
other=len(unique_players_df.loc[unique_players_df['Gender']=='Other / Non-Disclosed',:])
print(f'There are {males} male players out of {unique_players} players')
print(f'There are {females} female players out of {unique_players} players')
print(f'There are {other} players who did not specify gender out of {unique_players} players')
male_percent=round(males/unique_players,2)
print(f'The male percentage is {male_percent}')
female_percent=round(females/unique_players,2)
other_percent=round(other/unique_players,2)
print(f'There are {females} female players')
print(f'The female perentage is {female_percent}')
print(f'The other/non-disclosed percentage is {other_percent}')

There are 484 male players out of 576 players
There are 81 female players out of 576 players
There are 11 players who did not specify gender out of 576 players
The male percentage is 0.84
There are 81 female players
The female perentage is 0.14
The other/non-disclosed percentage is 0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [226]:
#males made X numbers of purchases at an average price of y across average number of purchases
#Count up total purchase for males only
#Sum up total purchase dollars for males only then divide by male only purchases
#Count individual purchase for each male

#create lists for summary
purch_count=[]
app=[]
total_purchase=[]

#calculate males
male_purchases=len(pf.loc[pf['Gender']=='Male',:])
purch_count.append(male_purchases)
m_purch_total=pf.loc[pf['Gender']=='Male','Price'].sum()
total_purchase.append(male_purchases)
m_app=round(m_purch_total/male_purchases,2)
app.append(m_app)
print(f'There were {male_purchases} purchases totaling ${m_purch_total} by males at an average of ${m_app}')
#calculate others
other_purchases=len(pf.loc[pf['Gender']=='Other / Non-Disclosed',:])
purch_count.append(other_purchases)
o_purch_total=pf.loc[pf['Gender']=='Other / Non-Disclosed','Price'].sum()
total_purchase.append(o_purch_total)
o_app=round(o_purch_total/other_purchases,2)
app.append(o_app)
print(f'There were {other_purchases} purchases totaling ${o_purch_total} by customers who did not disclose their gender at an average of ${o_app}')

#calculate females
female_purchases=len(pf.loc[pf['Gender']=='Female',:])
purch_count.append(female_purchases)
f_purch_total=pf.loc[pf['Gender']=='Female','Price'].sum()
total_purchase.append(f_purch_total)
f_app=round(f_purch_total/female_purchases,2)
app.append(f_app)
print(f'There were {female_purchases} purchases totaling ${f_purch_total} by females at an average of ${f_app}0')

#Get unique gender list
genders=pf['Gender'].unique()

#set columns for summary dataframe, create dataframe
columns=['Gender','Purchase Count','Average Purchase Price','Total Purchase Value']
gender_df = pd.DataFrame(list(zip(genders,purch_count, app,total_purchase)),
               columns =[columns])
gender_df.set_index('Gender')

#gender_df['Average Purchase Price']=gender_df['Average Purchase Price'].round(2).map("${:,.2f}".format)
#gender_df['Total Purchase Value']=gender_df['Total Purchase Value'].map("${:,.2f}".format)
gender_df

There were 652 purchases totaling $1967.64 by males at an average of $3.02
There were 15 purchases totaling $50.19 by customers who did not disclose their gender at an average of $3.35
There were 113 purchases totaling $361.94 by females at an average of $3.20

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value
0,Male,652,3.02,652.00
1,Other / Non-Disclosed,15,3.35,50.19
2,Female,113,3.20,361.94

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
# Create the bins in which Data will be held
# Bins are 0 10 <14,<19,<24,<29,<34,<39, and > 40   
bins = [0,10,14,19,24,29,34,39,100]
# Create the names for the age bins
group_names = ["10 or less", "10 to 14", "15 to 19", "20 to 24", "25 to 29","30 to 34","35 to 39", "Over 40"]
pf["Age Group"] = pd.cut(pf["Age"], bins, labels=group_names, include_lowest=True)

#create lists for summary
age_count=[]
age_percent=[]
age_group=['Age Group', 'Purchase Count by Group', 'Purchase % by Group']


#Calculate total purchase and percentage of purchases per age group
less10_count=len(pf.loc[pf['Age Group']=='10 or less',:])
age_count.append(less10_count)
less10_percent=round(less10_count/total_purchases,2)
age_percent.append(less10_percent)
between10to14_count=len(pf.loc[pf['Age Group']=='10 to 14',:])
age_count.append(between10to14_count)
between10to14_percent=round(between10to14_count/total_purchases,2)
age_percent.append(between10to14_percent)
between15to19_count=len(pf.loc[pf['Age Group']=='15 to 19',:])
age_count.append(between15to19_count)
between15to19_percent=round(between15to19_count/total_purchases,2)
age_percent.append(between15to19_percent)
between20to24_count=len(pf.loc[pf['Age Group']=='20 to 24',:])
age_count.append(between20to24_count)
between20to24_percent=round(between20to24_count/total_purchases,2)
age_percent.append(between20to24_percent)
between25to29_count=len(pf.loc[pf['Age Group']=='25 to 29',:])
age_count.append(between25to29_count)
between25to29_percent=round(between25to29_count/total_purchases,2)
age_percent.append(between25to29_percent)
between30to34_count=len(pf.loc[pf['Age Group']=='30 to 34',:])
age_count.append(between30to34_count)
between30to34_percent=round(between30to34_count/total_purchases,2)
age_percent.append(between30to34_percent)
between35to39_count=len(pf.loc[pf['Age Group']=='35 to 39',:])
age_count.append(between35to39_count)
between35to39_percent=round(between35to39_count/total_purchases,2)
age_percent.append(between35to39_percent)
over40_count=len(pf.loc[pf['Age Group']=='Over 40',:])
age_count.append(between35to39_count)
over40_percent=round(over40_count/total_purchases,2)
age_percent.append(over40_percent)
age_df=pd.DataFrame(list(zip(group_names,age_count,age_percent)),
               columns =[age_group])
age_df.set_index('Age Group')
age_df                 


print(f'There were {less10_count} purchases of {total_purchases} total purchases which is {less10_percent} by players less than 10')
print(f'There were {between10to14_count} purchases of {total_purchases} total purchases which is {between10to14_percent} by players between 10 and 14')
print(f'There were {between15to19_count} purchases of {total_purchases} total purchases which is {between15to19_percent} by players between 15 and 19')
print(f'There were {between20to24_count} purchases of {total_purchases} total purchases which is {between20to24_percent} by players between 20 and 24')
print(f'There were {between25to29_count} purchases of {total_purchases} total purchases which is {between25to29_percent} by players between 25 and 29')
print(f'There were {between30to34_count} purchases of {total_purchases} total purchases which is {between30to34_percent} by players between 30 and 34')
print(f'There were {between35to39_count} purchases of {total_purchases} total purchases which is {between35to39_percent} by players between 35 and 39')
print(f'There were {over40_count} purchases of {total_purchases} total purchases which is {over40_percent} by players over 40')
age_df

There were 32 purchases of 780 total purchases which is 0.04 by players less than 10
There were 19 purchases of 780 total purchases which is 0.02 by players between 10 and 14
There were 136 purchases of 780 total purchases which is 0.17 by players between 15 and 19
There were 365 purchases of 780 total purchases which is 0.47 by players between 20 and 24
There were 101 purchases of 780 total purchases which is 0.13 by players between 25 and 29
There were 73 purchases of 780 total purchases which is 0.09 by players between 30 and 34
There were 41 purchases of 780 total purchases which is 0.05 by players between 35 and 39
There were 13 purchases of 780 total purchases which is 0.02 by players over 40

    Age Group Purchase Count by Group Purchase % by Group
0  10 or less                      32                0.04
1    10 to 14                      19                0.02
2    15 to 19                     136                0.17
3    20 to 24                     365                0.47
4    25 to 29                     101                0.13
5    30 to 34                      73                0.09
6    35 to 39                      41                0.05
7     Over 40                      41                0.02

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [162]:
age_total=[]
age_app=[]
age_group=['Age Group', 'Purchase Count by Group', 'Purchase % by Group','Total Purchase Value','Average Purchase Value']

less10_purch_total=round(pf.loc[pf['Age Group']=='10 or less','Price'].sum(),2)
age_total.append(less10_purch_total)
less10_app=round(less10_purch_total/less10_count,2)
age_app.append(less10_app)
between10to14_purch_total=round(pf.loc[pf['Age Group']=='10 to 14','Price'].sum(),2)
age_total.append(between10to14_purch_total)
between10to14_app=round(between10to14_purch_total/less10_count,2)
age_app.append(between10to14_app)
between15to19_purch_total=round(pf.loc[pf['Age Group']=='15 to 19','Price'].sum(),2)
age_total.append(between15to19_purch_total)
between15to19_app=round(between15to19_purch_total/between15to19_count,2)
age_app.append(between15to19_app)
between20to24_purch_total=round(pf.loc[pf['Age Group']=='20 to 24','Price'].sum(),2)
age_total.append(between20to24_purch_total)
between20to24_app=round(between20to24_purch_total/between20to24_count,2)
age_app.append(between20to24_app)
between25to29_purch_total=round(pf.loc[pf['Age Group']=='25 to 29','Price'].sum(),2)
age_total.append(between25to29_purch_total)
between25to29_app=round(between25to29_purch_total/between25to29_count,2)
age_app.append(between25to29_app)
between30to34_purch_total=round(pf.loc[pf['Age Group']=='30 to 34','Price'].sum(),2)
age_total.append(between30to34_purch_total)
between30to34_app=round(between30to34_purch_total/between30to34_count,2)
age_app.append(between30to34_app)
between35to39_purch_total=round(pf.loc[pf['Age Group']=='35 to 39','Price'].sum(),2)
age_total.append(between35to39_purch_total)
between35to39_app=round(between35to39_purch_total/between35to39_count,2)
age_app.append(between35to39_app)
over40_purch_total=round(pf.loc[pf['Age Group']=='Over 40','Price'].sum(),2)
age_total.append(over40_purch_total)
over40_app=round(over40_purch_total/over40_count,2)
age_app.append(over40_app)

#create summary dataframe
age2_df=pd.DataFrame(list(zip(group_names,age_count,age_percent,age_total,age_app)),
               columns =[age_group])
age2_df.set_index('Age Group')


print(f'There were {less10_count} purchases totaling ${less10_purch_total} by players less than 10 at an average of ${less10_app}')
print(f'There were {between10to14_count} purchases totaling ${between10to14_purch_total} by players between 10-14 at an average  ${between10to14_app}')
print(f'There were {between15to19_count} purchases totaling ${between15to19_purch_total} by players between 15-19 at an average  ${between15to19_app}')
print(f'There were {between20to24_count} purchases totaling ${between20to24_purch_total} by players between 20-24 at an average  ${between20to24_app}')
print(f'There were {between25to29_count} purchases totaling ${between25to29_purch_total} by players between 25-29 at an average  ${between25to29_app}')
print(f'There were {between30to34_count} purchases totaling ${between30to34_purch_total} by players between 30-34 at an average  ${between30to34_app}')
print(f'There were {between35to39_count} purchases totaling ${between35to39_purch_total} by players between 35-39 at an average  ${between35to39_app}')
print(f'There were {over40_count} purchases totaling ${over40_purch_total} by players over 40 at an average  ${over40_app}')
#age2_df["Total Purchase Value"]=age2_df["Total Purchase Value"].map("${:,.2f}".format)
#age2_df["Average Purchase Value"]=age2_df["Average Purchase Value"].map("${:,.2f}".format)
age2_df

There were 32 purchases totaling $108.96 by players less than 10 at an average of $3.4
There were 19 purchases totaling $50.95 by players between 10-14 at an average  $1.59
There were 136 purchases totaling $412.89 by players between 15-19 at an average  $3.04
There were 365 purchases totaling $1114.06 by players between 20-24 at an average  $3.05
There were 101 purchases totaling $293.0 by players between 25-29 at an average  $2.9
There were 73 purchases totaling $214.0 by players between 30-34 at an average  $2.93
There were 41 purchases totaling $147.67 by players between 35-39 at an average  $3.6
There were 13 purchases totaling $38.24 by players over 40 at an average  $2.94

,Age Group,Purchase Count by Group,Purchase % by Group,Total Purchase Value,Average Purchase Value
0,10 or less,32,0.04,108.96,3.40
1,10 to 14,19,0.02,50.95,1.59
2,15 to 19,136,0.17,412.89,3.04
3,20 to 24,365,0.47,1114.06,3.05
4,25 to 29,101,0.13,293.00,2.90
5,30 to 34,73,0.09,214.00,2.93
6,35 to 39,41,0.05,147.67,3.60
7,Over 40,41,0.02,38.24,2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [206]:
#Create new dataframe and aggragate columns

Top_Spenders=pf.groupby('SN').agg(Total_Purchases=pd.NamedAgg(column='Item ID', aggfunc='count'),
         Average_Price=pd.NamedAgg(column='Price', aggfunc='mean'),
         Total_Spent=pd.NamedAgg(column='Price', aggfunc='sum'),)
Top_Spenders=Top_Spenders.sort_values('Total_Spent',ascending=False)
Top_Spenders['Average_Price']=Top_Spenders['Average_Price'].round(2).map("${:,.2f}".format)
Top_Spenders['Total_Spent']=Top_Spenders['Total_Spent'].map("${:,.2f}".format)
Top_Spenders

             Total_Purchases Average_Price Total_Spent
SN
Lisosia93                  5         $3.79      $18.96
Idastidru52                4         $3.86      $15.45
Chamjask73                 3         $4.61      $13.83
Iral74                     4         $3.40      $13.62
Iskadarya95                3         $4.37      $13.10
...                      ...           ...         ...
Ililsasya43                1         $1.02       $1.02
Irilis75                   1         $1.02       $1.02
Aidai61                    1         $1.01       $1.01
Chanirra79                 1         $1.01       $1.01
Alo38                      1         $1.00       $1.00

[576 rows x 3 columns]

In [209]:
#using group by and joining dataframes

SN_df=pf.loc[:,['SN','Price']]
SN_df_total=SN_df.groupby(['SN']).sum()['Price'].rename("Total Purchase Value")
SN_df_count=SN_df.groupby(['SN']).count()['Price'].rename("Purchases Count")
frames=[SN_df_count,SN_df_total]
SN_df_summary=pd.concat(frames,axis=1,join='inner')
SN_df_summary=SN_df_summary.sort_values('Total Purchase Value',ascending=False)
SN_df_summary['Average Price']=SN_df_summary['Total Purchase Value']/SN_df_summary['Purchases Count']
SN_df_summary['Average Price']=SN_df_summary['Average Price'].round(2).map("${:,.2f}".format)
SN_df_summary['Total Purchase Value']=SN_df_summary['Total Purchase Value'].map("${:,.2f}".format)
SN_df_summary

             Purchases Count Total Purchase Value Average Price
SN
Lisosia93                  5               $18.96         $3.79
Idastidru52                4               $15.45         $3.86
Chamjask73                 3               $13.83         $4.61
Iral74                     4               $13.62         $3.40
Iskadarya95                3               $13.10         $4.37
...                      ...                  ...           ...
Ililsasya43                1                $1.02         $1.02
Irilis75                   1                $1.02         $1.02
Aidai61                    1                $1.01         $1.01
Chanirra79                 1                $1.01         $1.01
Alo38                      1                $1.00         $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [146]:
#Create new dataframe and aggragate columns

Top_Items=pf.groupby(['Item ID','Item Name']).agg(Purchase_Count=pd.NamedAgg(column='Item ID', aggfunc='count'),
         Average_Price=pd.NamedAgg(column='Price', aggfunc='mean'),
         Total_Spent=pd.NamedAgg(column='Price', aggfunc='sum'),)
Top_Items=Top_Items.sort_values('Purchase_Count',ascending=False)
Top_Items['Average_Price']=Top_Items['Average_Price'].round(2).map("${:,.2f}".format)
Top_Items['Total_Spent']=Top_Items['Total_Spent'].map("${:,.2f}".format)
Top_Items.head(30)

,,Purchase_Count,Average_Price,Total_Spent
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
60,Wolf,8,$3.54,$28.32
72,Winter's Bite,8,$3.77,$30.16
59,"Lightning, Etcher of the King",8,$4.23,$33.84
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
85,Malificent Bag,7,$1.75,$12.25
110,Suspension,7,$1.44,$10.08
71,Demise,7,$1.61,$11.27
53,Vengeance Cleaver,7,$2.05,$14.35
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
164,Exiled Doomblade,7,$1.63,$11.41
96,Blood-Forged Skeletal Spine,6,$3.09,$18.54
40,Second Chance,6,$2.52,$15.12
54,Eternal Cleaver,6,$2.50,$15.00
160,Azurewrath,6,$4.40,$26.40
93,Apocalyptic Battlescythe,6,$1.97,$11.82
129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
144,Blood Infused Guardian,6,$1.94,$11.64

In [228]:
#using group by and joining dataframes

item_df=pf.loc[:,['Item ID','Item Name','Price']]
item_df_total=item_df.groupby(['Item ID','Item Name']).sum()['Price'].rename("Total Items Purchase Value")
item_df_count=item_df.groupby(['Item ID','Item Name']).count()['Price'].rename("Purchases Count")
frames=[item_df_count,item_df_total]
item_df_summary=pd.concat(frames,axis=1,join='inner')
item_df_summary=item_df_summary.sort_values('Total Items Purchase Value',ascending=False)
item_df_summary['Average Price']=item_df_summary['Total Items Purchase Value']/item_df_summary['Purchases Count']
item_df_summary['Average Price']=item_df_summary['Average Price'].round(2).map("${:,.2f}".format)
item_df_summary['Total Items Purchase Value']=item_df_summary['Total Items Purchase Value'].map("${:,.2f}".format)
item_df_summary

,,Purchases Count,Total Items Purchase Value,Average Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
82,Nirvana,9,$44.10,$4.90
145,Fiery Glass Crusader,9,$41.22,$4.58
103,Singed Scalpel,8,$34.80,$4.35
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$2.12,$1.06
125,Whistling Mithril Warblade,2,$2.00,$1.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [147]:
#Create new dataframe and aggragate columns
Top_Items=pf.groupby(['Item ID','Item Name']).agg(Purchase_Count=pd.NamedAgg(column='Item ID', aggfunc='count'),
         Average_Price=pd.NamedAgg(column='Price', aggfunc='mean'),
         Total_Spent=pd.NamedAgg(column='Price', aggfunc='sum'),)
Top_Items['Average_Price']Top_Items.sort_values('Total_Spent',ascending=False)
Top_Items['Average_Price']=Top_Items['Average_Price'].round(2).map("${:,.2f}".format)
Top_Items['Total_Spent']=Top_Items['Total_Spent'].map("${:,.2f}".format)
Top_Items.head(30)

,,Purchase_Count,Average_Price,Total_Spent
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
132,Persuasion,9,$3.22,$28.99
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
136,Ghastly Adamantite Protector,6,$3.58,$21.48
65,Conqueror Adamantite Mace,5,$4.24,$21.20
102,Avenger,6,$3.44,$20.64
133,Faith's Scimitar,5,$4.09,$20.45
39,"Betrayal, Whisper of Grieving Widows",5,$3.94,$19.70
111,Misery's End,4,$4.89,$19.56
165,Bone Crushing Silver Skewer,4,$4.86,$19.44
75,Brutality Ivory Warmace,8,$2.42,$19.36
52,Hatred,4,$4.84,$19.36
157,"Spada, Etcher of Hatred",4,$4.80,$19.20

In [224]:
Top_Items2=pf.loc[:,['Item ID','Item Name','Price']]
item2_df_total=Top_Items2.groupby(['Item ID','Item Name']).sum()['Price'].rename("Total Items Purchase Value")
item2_df_count=Top_Items2.groupby(['Item ID','Item Name']).count()['Price'].rename("Purchases Count")
frames=[item2_df_count,item2_df_total]
Top_Items2_summary=pd.concat(frames,axis=1,join='inner')
Top_Items2_summary=Top_Items2_summary.sort_values('Total Items Purchase Value',ascending=False)
Top_Items2_summary['Average_Price']=Top_Items2_summary["Total Items Purchase Value"]/Top_Items2_summary["Purchases Count"]
Top_Items2_summary['Average_Price']=Top_Items2_summary['Average_Price'].round(2).map("${:,.2f}".format)
Top_Items2_summary['Total Items Purchase Value']=Top_Items2_summary['Total Items Purchase Value'].map("${:,.2f}".format)
Top_Items2_summary.head(30)

,,Purchases Count,Total Items Purchase Value,Average_Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
82,Nirvana,9,$44.10,$4.90
145,Fiery Glass Crusader,9,$41.22,$4.58
103,Singed Scalpel,8,$34.80,$4.35
59,"Lightning, Etcher of the King",8,$33.84,$4.23
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
78,"Glimmer, Ender of the Moon",7,$30.80,$4.40
72,Winter's Bite,8,$30.16,$3.77
132,Persuasion,9,$28.99,$3.22
60,Wolf,8,$28.32,$3.54
179,"Wolf, Promise of the Moonwalker",6,$26.88,$4.48
160,Azurewrath,6,$26.40,$4.40
25,Hero Cane,6,$26.10,$4.35
37,"Shadow Strike, Glory of Ending Hope",8,$25.28,$3.16
139,"Mercy, Katana of Dismay",5,$24.70,$4.94
128,"Blazeguard, Reach of Eternity",5,$24.55,$4.91
138,"Peacekeeper, Wit of Dark Magic",5,$23.70,$4.74
87,"Deluge, Edge of the West",5,$22.15,$4.43
159,"Oathbreaker, Spellblade of Trials",7,$21.56,$3.08
136,Ghastly Adamantite Protector,6,$21.48,$3.58
65,Conqueror Adamantite Mace,5,$21.20,$4.24
102,Avenger,6,$20.64,$3.44
133,Faith's Scimitar,5,$20.45,$4.09
39,"Betrayal, Whisper of Grieving Widows",5,$19.70,$3.94
111,Misery's End,4,$19.56,$4.89
165,Bone Crushing Silver Skewer,4,$19.44,$4.86
75,Brutality Ivory Warmace,8,$19.36,$2.42
52,Hatred,4,$19.36,$4.84
157,"Spada, Etcher of Hatred",4,$19.20,$4.80

In [229]:
Top_Items2_summary.tail(30)

,,Purchases Count,Total Items Purchase Value,Average_Price
Item ID,Item Name,,,
21,Souleater,5,$5.50,$1.10
171,Scalpel,3,$5.37,$1.79
14,Possessed Core,2,$5.22,$2.61
124,Venom Claymore,4,$5.16,$1.29
0,Splinter,4,$5.12,$1.28
155,War-Forged Gold Deflector,5,$5.05,$1.01
48,"Rage, Legacy of the Lone Victor",2,$4.96,$2.48
158,"Darkheart, Butcher of the Champion",2,$4.90,$2.45
51,Endbringer,1,$4.66,$4.66
134,Undead Crusader,1,$4.50,$4.50
135,Warped Diamond Crusader,3,$4.20,$1.40
91,Celeste,1,$4.17,$4.17
177,"Winterthorn, Defender of Shifting Worlds",2,$4.16,$2.08
70,Hope's End,4,$4.12,$1.03
115,Spectral Diamond Doomblade,2,$4.08,$2.04
69,"Frenzy, Defender of the Harvest",2,$3.96,$1.98
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
183,Dragon's Greatsword,3,$3.27,$1.09
31,Trickster,2,$3.10,$1.55
168,"Sun Strike, Jaws of Twisted Visions",2,$2.96,$1.48
90,Betrayer,1,$2.94,$2.94
33,Curved Axe,2,$2.32,$1.16
26,Unholy Wand,2,$2.24,$1.12
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
28,"Flux, Destroyer of Due Diligence",2,$2.12,$1.06
125,Whistling Mithril Warblade,2,$2.00,$1.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75