In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Create the initial data frame
pf=pd.DataFrame(purchase_data)
players=len(pf['SN'].unique())
player_data=(pf['SN'].unique())

print(f'The total number of players are {players}')

#player_data

The total number of players are 576

In [3]:
#Show first rows 5 for headers
pf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Show last 5 rows for total
pf.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items=len(pf['Item ID'].unique())
avg_purchase_price=round(pf['Price'].mean(),2)
total_purchases=pf['SN'].count()
total_revenue=round(pf['Price'].sum(),2)
print(f'There are {unique_items} items available in the game for purchase')
print(f'The average purchase price is ${avg_purchase_price}')
print(f'There were {total_purchases} total purchases')
print(f'The total revenue was ${total_revenue}')

There are 179 items available in the game for purchase
The average purchase price is $3.05
There were 780 total purchases
The total revenue was $2379.77

In [6]:
sum={'Unique Items':[unique_items],
                     'Average Purchase Price':[avg_purchase_price],
                     'Total Purchases':[total_purchases],'Total Revenue':[total_revenue]}
sum_pf=pd.DataFrame(sum)
sum_pf

   Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0           179                    3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
players_df=pf.loc[:,['SN','Gender']]
unique_players_df=players_df.drop_duplicates()
unique_players=len(unique_players_df)
gtypes=players_df['Gender'].unique()
males=len(unique_players_df.loc[unique_players_df['Gender']=='Male',:])
females=len(unique_players_df.loc[unique_players_df['Gender']=='Female',:])
other=len(unique_players_df.loc[unique_players_df['Gender']=='Other / Non-Disclosed',:])
print(f'There are {males} male players out of {unique_players} players')
print(f'There are {females} female players out of {unique_players} players')
print(f'There are {other} players who did not specify gender out of {unique_players} players')
male_percent=round(males/unique_players,2)
print(f'The male percentage is {male_percent}')
female_percent=round(females/unique_players,2)
other_percent=round(other/unique_players,2)
print(f'There are {females} female players')
print(f'The female perentage is {female_percent}')
print(f'The other/non-disclosed percentage is {other_percent}')

There are 484 male players out of 576 players
There are 81 female players out of 576 players
There are 11 players who did not specify gender out of 576 players
The male percentage is 0.84
There are 81 female players
The female perentage is 0.14
The other/non-disclosed percentage is 0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#males made X numbers of purchases at an average price of y across average number of purchases
#Count up total purchase for males only
#Sum up total purchase dollars for males only then divide by male only purchases
#Count individual purchase for each male
male_purchases=len(pf.loc[pf['Gender']=='Male',:])
m_purch_total=pf.loc[pf['Gender']=='Male','Price'].sum()
m_app=round(m_purch_total/male_purchases,2)
print(f'There were {male_purchases} purchases totaling ${m_purch_total} by males at an average of ${m_app}')
female_purchases=len(pf.loc[pf['Gender']=='Female',:])
f_purch_total=pf.loc[pf['Gender']=='Female','Price'].sum()
f_app=round(f_purch_total/female_purchases,2)
print(f'There were {female_purchases} purchases totaling ${f_purch_total} by females at an average of ${f_app}0')
other_purchases=len(pf.loc[pf['Gender']=='Other / Non-Disclosed',:])
o_purch_total=pf.loc[pf['Gender']=='Other / Non-Disclosed','Price'].sum()
o_app=round(o_purch_total/other_purchases,2)
print(f'There were {other_purchases} purchases totaling ${o_purch_total} by customers who did not disclose their gender at an average of ${o_app}')

There were 652 purchases totaling $1967.64 by males at an average of $3.02
There were 113 purchases totaling $361.94 by females at an average of $3.20
There were 15 purchases totaling $50.19 by customers who did not disclose their gender at an average of $3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
# Create the bins in which Data will be held
# Bins are 0 10 <14,<19,<24,<29,<34,<39, and > 40   
bins = [0,10,14,19,24,29,34,39,100]
# Create the names for the age bins
group_names = ["10 or less", "10 to 14", "15 to 19", "20 to 24", "25 to 29","30 to 34","35 to 39", "Over 40"]
pf["Age Group"] = pd.cut(pf["Age"], bins, labels=group_names, include_lowest=True)
#Calculate total purchase and percentage of purchases per age group
less10_count=len(pf.loc[pf['Age Group']=='10 or less',:])
less10_percent=round(less10_count/total_purchases,2)
between10to14_count=len(pf.loc[pf['Age Group']=='10 to 14',:])
between10to14_percent=round(between10to14_count/total_purchases,2)
between15to19_count=len(pf.loc[pf['Age Group']=='15 to 19',:])
between15to19_percent=round(between15to19_count/total_purchases,2)
between20to24_count=len(pf.loc[pf['Age Group']=='20 to 24',:])
between20to24_percent=round(between20to24_count/total_purchases,2)
between25to29_count=len(pf.loc[pf['Age Group']=='25 to 29',:])
between25to29_percent=round(between25to29_count/total_purchases,2)
between30to34_count=len(pf.loc[pf['Age Group']=='30 to 34',:])
between30to34_percent=round(between30to34_count/total_purchases,2)
between35to39_count=len(pf.loc[pf['Age Group']=='35 to 39',:])
between35to39_percent=round(between35to39_count/total_purchases,2)
over40_count=len(pf.loc[pf['Age Group']=='Over 40',:])
over40_percent=round(over40_count/total_purchases,2)
print(f'There were {less10_count} purchases of {total_purchases} total purchases which is {less10_percent} by players less than 10')
print(f'There were {between10to14_count} purchases of {total_purchases} total purchases which is {between10to14_percent} by players between 10 and 14')
print(f'There were {between15to19_count} purchases of {total_purchases} total purchases which is {between15to19_percent} by players between 15 and 19')
print(f'There were {between20to24_count} purchases of {total_purchases} total purchases which is {between20to24_percent} by players between 20 and 24')
print(f'There were {between25to29_count} purchases of {total_purchases} total purchases which is {between25to29_percent} by players between 25 and 29')
print(f'There were {between30to34_count} purchases of {total_purchases} total purchases which is {between30to34_percent} by players between 30 and 34')
print(f'There were {between35to39_count} purchases of {total_purchases} total purchases which is {between35to39_percent} by players between 35 and 39')
print(f'There were {over40_count} purchases of {total_purchases} total purchases which is {over40_percent} by players over 40')

There were 32 purchases of 780 total purchases which is 0.04 by players less than 10
There were 19 purchases of 780 total purchases which is 0.02 by players between 10 and 14
There were 136 purchases of 780 total purchases which is 0.17 by players between 15 and 19
There were 365 purchases of 780 total purchases which is 0.47 by players between 20 and 24
There were 101 purchases of 780 total purchases which is 0.13 by players between 25 and 29
There were 73 purchases of 780 total purchases which is 0.09 by players between 30 and 34
There were 41 purchases of 780 total purchases which is 0.05 by players between 35 and 39
There were 13 purchases of 780 total purchases which is 0.02 by players over 40

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
less10_purch_total=round(pf.loc[pf['Age Group']=='10 or less','Price'].sum(),2)
less10_app=round(less10_purch_total/less10_count,2)
between10to14_purch_total=round(pf.loc[pf['Age Group']=='10 to 14','Price'].sum(),2)
between10to14_app=round(between10to14_purch_total/less10_count,2)
between15to19_purch_total=round(pf.loc[pf['Age Group']=='15 to 19','Price'].sum(),2)
between15to19_app=round(between15to19_purch_total/between15to19_count,2)
between20to24_purch_total=round(pf.loc[pf['Age Group']=='20 to 24','Price'].sum(),2)
between20to24_app=round(between20to24_purch_total/between20to24_count,2)
between25to29_purch_total=round(pf.loc[pf['Age Group']=='25 to 29','Price'].sum(),2)
between25to29_app=round(between25to29_purch_total/between25to29_count,2)
between30to34_purch_total=round(pf.loc[pf['Age Group']=='30 to 34','Price'].sum(),2)
between30to34_app=round(between30to34_purch_total/between30to34_count,2)
between35to39_purch_total=round(pf.loc[pf['Age Group']=='35 to 39','Price'].sum(),2)
between35to39_app=round(between35to39_purch_total/between35to39_count,2)
over40_purch_total=round(pf.loc[pf['Age Group']=='Over 40','Price'].sum(),2)
over40_app=round(over40_purch_total/over40_count,2)

print(f'There were {less10_count} purchases totaling ${less10_purch_total} by players less than 10 at an average of ${less10_app}')
print(f'There were {between10to14_count} purchases totaling ${between10to14_purch_total} by players between 10-14 at an average  ${between10to14_app}')
print(f'There were {between15to19_count} purchases totaling ${between15to19_purch_total} by players between 15-19 at an average  ${between15to19_app}')
print(f'There were {between20to24_count} purchases totaling ${between20to24_purch_total} by players between 20-24 at an average  ${between20to24_app}')
print(f'There were {between25to29_count} purchases totaling ${between25to29_purch_total} by players between 25-29 at an average  ${between25to29_app}')
print(f'There were {between30to34_count} purchases totaling ${between30to34_purch_total} by players between 30-34 at an average  ${between30to34_app}')
print(f'There were {between35to39_count} purchases totaling ${between35to39_purch_total} by players between 35-39 at an average  ${between35to39_app}')
print(f'There were {over40_count} purchases totaling ${over40_purch_total} by players over 40 at an average  ${over40_app}')

There were 32 purchases totaling $108.96 by players less than 10 at an average of $3.4
There were 19 purchases totaling $50.95 by players between 10-14 at an average  $1.59
There were 136 purchases totaling $412.89 by players between 15-19 at an average  $3.04
There were 365 purchases totaling $1114.06 by players between 20-24 at an average  $3.05
There were 101 purchases totaling $293.0 by players between 25-29 at an average  $2.9
There were 73 purchases totaling $214.0 by players between 30-34 at an average  $2.93
There were 41 purchases totaling $147.67 by players between 35-39 at an average  $3.6
There were 13 purchases totaling $38.24 by players over 40 at an average  $2.94

In [59]:
purch_by_age_mean=pf.groupby('Age Group').mean()
purch_by_age_count=pf.groupby('Age Group').count()
per_person_group=pf.groupby('SN').mean()
per_person_group['Price']

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [60]:
purch_by_age_df['Price']

Age Group
10 or less     108.96
10 to 14        50.95
15 to 19       412.89
20 to 24      1114.06
25 to 29       293.00
30 to 34       214.00
35 to 39       147.67
Over 40         38.24
Name: Price, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80